html,
body {
  background-color: #111213;
}
body {
  color: white;
  margin: 0 !important;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-size: 1.5rem;
  flex-direction: column;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.userInfo {
  display: flex;
  flex: 100%;
  background-color: #252729;
  height: 70px;
  margin: 0 0.5% 1vh;
  text-transform: capitalize;
}
h1,
h2 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
header {
  color: white;
  width: 100vw;
  background-color: #6441a5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 3rem;
  padding: 2.5vh 0;
}
header #tytul,
#ttvLogo {
  transition: all 0.25s ease;
}
#ttvLogo > img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
footer {
  background-color: #6441a5;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
}
footer h2 {
  font-size: 1.5rem;
}
footer img {
  vertical-align: bottom;
}
main {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #191a1b;
  overflow: hidden;
  padding-top: 10vh;
  flex: 1 0 auto;
}

#userList {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.avatarImage {
  width: 70px;
  height: 70px;
}
#inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  right: 65px;
  justify-content: space-between;
}

#button {
  margin-left: 150px;
  height: 40px;
  border: 2px solid #6441a5;
  outline: none;
  border-radius: 40px;
  width: 130px;
  background-color: #191a1b;
  font-family: 'Lato', sans-serif;
  color: #6441a5;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.25s ease;
}
#button:active {
  letter-spacing: 1.5px;
  transition: all 0.25s ease;
}
#button:hover {
  cursor: pointer;
  background-color: #6441a5;
  transition: all 0.25s ease;
  color: #fff;
}
#wantJson {
  width: 20px;
}
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}
#informator {
  height: 10vh;
  color: white;
  padding: 1.5vh 0;
  display: flex;
  align-items: center;
}
#informator img {
  padding-right: 0.5vw;
}
.nick {
  margin-left: 1vw;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #191a1b;
  padding: 10px 50px 50px;
}
.group {
  position: relative;
  margin-bottom: 45px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #6441a5;
  background-color: #191a1b;
  color: white;
}
.group input:focus {
  outline: none;
}
.group label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group input:focus ~ label,
.group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffffff;
}
.bar {
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #6441a5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #6441a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #6441a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #6441a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 768px) {
  .userInfo {
    flex: 48%;
  }
  main {
    width: 80vw;
  }
  header {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1419px) {
  .userInfo:nth-child(2n + 2) {
    margin: 0 0.5% 0 0;
  }
}
@media only screen and (min-width: 1420px) {
  .userInfo {
    flex: 32%;
  }
  main {
    width: 80vw;
  }

  .userInfo:nth-child(3n + 2) {
    margin: 0 0 1vh;
  }
  .userInfo:nth-last-child(1) {
    margin: 0 0.5% 1vh 0;
  }
}
#outerLoadingBar {
  background-color: #252729;
  border-radius: 40px;
  width: 325px;
  height: 8px;
  margin-top: 3vh;
  display: flex;
}
#loadingBar {
  background-color: #6441a5;
  border-radius: 40px;
  height: 8px;
  align-self: flex-start;
  transition: 0.5s ease;
}
#menu {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  width: 2rem;
  height: 2rem;
  padding: 0 20px;
  z-index: 21;
  position: fixed;
  top: 15px;
  right: 20px;
}
#menu div {
  background-color: #fff;
  width: 2rem;
  height: 0.25rem;
}
#tooltip {
  border-radius: 40px;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border: 2px solid #6441a5;
  color: #6441a5;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
#tooltip:hover {
  cursor: pointer;
  background-color: #6441a5;
  transition: all 0.25s ease;
  color: #fff;
}
li {
  cursor: pointer;
}
